.accueil-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/public/assets/accueil-img.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
    height: 1000px;
    color: white;
}
.apropos{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    gap: 50px;
    margin: 80px 40px 80px 40px;
    box-shadow: 5px 5px 10px 10px rgba(128, 128, 128, 0.2);
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: white; 
}

.apropos-1{
    width: 40%;
}

.competences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.progressbar-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
hr{
    color: blue;
    height: 20px;
    font-size: 100px;
}

@media screen and (max-width: 768px) { 
   .apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 
   .competences{
    align-items: center;
   }
}